:root{
    --bgColor:rgb(241, 175, 175);
}


/* nav start */
.cafe_logo{
    width: 40px;
   margin-right:15px;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar {
    background-color: rgb(119, 51, 51);
 
  
} 
.nav-item a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
}
.dropdown-menu li {
    background-color: rgb(125, 53, 53);
    
}

/* nav end */

/*body start*/
body{
    
    scroll-behavior: smooth;

  
}
.row{
    background-color: var(--bgColor);
}
.play{
    transition: 0.5s;
}
.play:hover{
    transform: scale(2);
}
.header{
    height: 90vh;
}

.lower{
   height: 40px;
   
   background-color: pink;
}

.mail{
    display: inline-block;
    position: static;
    margin-left: 130px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(60, 14, 14);
    margin-top: 5px;
}

.tel{
    margin-top: 5px;
     display: inline-block;
    position: static;
    margin-left: 670px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 14, 14);
}
/*menu start*/




/*menu end*/

/*body end*/


/*Media query start*/
@media screen and (min-width:995px) {
    .nav-item a::before{
        content: "";
        position: static;
        background-color: aliceblue;
        width:0;
        height: 2px;
        left:7px;
        bottom: 10px;
    
    }
    .nav-item a:hover::before{
        width:80%;
        transition: 0.5s;
    }

    
    
    
}
/* Media query end*/
.container{
    width: 100%;
}

.showcontainer{
    text-align: center;
    color: white;
    margin: 20px;
    width: 600px;
}

.showimage img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card-title{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    font-size: 24px;
}

.showsample {
    width: 239px;
    height: 480px;
    margin: 20px;
   text-align: center;
   box-shadow: 5px 5px 5px 0px rgb(22, 22, 22);
   border-radius: 10px;
   cursor: pointer;
   font-size: 15px;

}
.text-success{
 padding-right: 6px;
}
.showsample:hover{
    transform: scale(1.1);
}


.shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.showcontainer{
    background-color: rgb(197, 99, 99);
    width:100%;
    height:50px;  
    border-radius: 20px;
   
}
.showcontainer h2{
    padding: 10px;
}
.showcontainer h2:hover{
    text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px  10px black;
    font-family: Permanent Marker;
}
.showsample{
    background-color:rgb(241, 175, 175);
}
.showsample li{
    text-align: left;
}
.showsample h3{
    text-align: center;
    color: rgb(126, 29, 211);
    padding-top: 10 px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.showsample h3::after{
    content: "";
    background-color: blue;
    width: 0%;
    height: 3px;
    position: absolute;
    left:0px;
    bottom: -5px;
    transition:0.7s ;
}
.showsample h3:hover::after{
    width: 100%;
}